.form {
  display: flex;
  justify-content: space-evenly;
}
.form div {
  margin: 10px;
}
.span {
  display: flex;
  justify-content: space-evenly;
}
.span div {
  border: 1px solid;
}
.addProduct {
  padding-top: 25px;
}
.item {
  display: flex;
  justify-content: space-evenly;
}
.buyBtn {
  display: flex;
  justify-content: space-evenly;
}
.buyBtn div {
  margin: 2px;
}
